.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title  {
    text-align: center;
    text-shadow: 2px;

}

.button-container{
    display:flex;
    justify-content: center;
    height: auto;
    border: 5px, border-color blue;
    background-color: firebrick;
    margin: 10px;
    padding: 8px;

}

#catchButton{
    padding: 6px 8px;
}


.card {
    margin: 10px auto;
    width: 50%;
    background-color: aliceblue;
    padding: 16px;

}

#pokemon{
    min-width: 350px;
    min-height: 500px;
}